@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/css/layout.css" type="text/css" media="screen" />

    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/modern-business.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
</head>
<body>
    <section id="main" style="height: 850px; background: url(/Content/images/FinBack.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">


        <div>
            <div class="col-lg-6" style="margin-top:30px; margin-left:300px; background-color:cornsilk; width:500px; height:250px; border-radius:10px;">
                <div class="container" style="font-family:Calibri ; color:blue; margin-top:20px; margin-left:90px;">
                    <div class="row">
                        <div class="col-md-offset-0 col-md-3">
                            <div class="form-login">

                                <form method="post" action="/Admin/SaveEdit/@Model.Id" style="opacity:0.9">
                                    <input type="text" style="opacity:0.9" name="Name" class="form-control input-sm chat-input" value="@Model.Name" />
                                    <br />

                                    
                                    <input type="password" name="Password" class="form-control input-sm chat-input" value="@Model.Password" />
                                    <br />
                                    <input type="text" name="PhoneNo" class="form-control input-sm chat-input" value="@Model.PhoneNo" />
                                    <br />

                                    <input class="btn btn-success" type="submit" value="Save Changes" />
                                </form>

                                <h3>@ViewBag.Message</h3>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>





</section>
</body>
</html>