@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>



<a href="/Admin/Search2"> </a>
<form action="/Home/Search2" style=" font-size:x-large; color:black">
    <h2> <strong class="bg-primery">Search Item Form</strong></h2>
    <br /><br />
    Enter ID: <input type="text" placeholder="ID" size="35" name="Itemd" /><br /><br />

    <button type="submit" class="btn btn-primary"> Search An Item</button>

</form>


