@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>



    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css2/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/css/3-col-portfolio.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->






    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/modern-business.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>News</title>
</head>
<body >
    <section id="main" style=" background: url(/Content/images/FinBack.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; ">

        @section IndexSec{
            <form class="navbar-form navbar-left pull-right" action="/Home/Search" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="search" />
                </div>
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        }
        
        <!-- Page Content -->
        <div class="container">
            <!-- Page Header -->
            <div class="row">
                <div class="col-lg-12">
                    <section >
                    <h1 class="page-header">
                        Textillion Store
                        <small>Dashing Collection of New Brands</small>
                    </h1>
                        </section>

                    
                </div>
            </div>
            <!-- /.row -->
         
            <div class="row" style="width:auto">
             
               
                <div class="col-md-4 portfolio-item" style="font-family: 'Felix Titling'; font-size: 35px">

                    <p style="font-family: 'Felix Titling'; font-size: 35px"> <center> <b>Jeanz</b></center></p>
                    <img class="img-responsive" src="/Content/images/store/jeanz.jpg" alt="">


                    <h3>

                        <a href="/Home/ShowItems?Next=1">See More</a>
                    </h3>

                </div>

                <div class="col-md-4 portfolio-item" style="font-family: 'Felix Titling'; font-size: 35px">

                    <p style="font-family: 'Felix Titling'; font-size: 35px"> <center><b>Baby T-Shirts </b></center></p>
                    <img class="img-responsive" src="/Content/images/store/baby t-shirt.jpg" alt="">


                    <h3>
                        <a href="/Home/ShowItems?Next=2">See More</a>
                    </h3>

                </div>

                <div class="col-md-4 portfolio-item" style="font-family: 'Felix Titling'; font-size: 35px">

                    <p style="font-family: 'Felix Titling'; font-size: 35px"><center><b> Mens T-Shirts</b> </center></p>
                    <img class="img-responsive" src="/Content/images/store/mesns t-Shirt.jpg" style="width:700px" alt="">


                    <h3>
                        <a href="/Home/ShowItems?Next=3">See More</a>
                    </h3>

                </div>
             </div>

                <div class="row">

                    <div class="col-md-4 portfolio-item" style="font-family: 'Felix Titling'; font-size: 35px">
                        <br>
                        <p style="font-family: 'Felix Titling'; font-size: 35px"> <center> <b> Casuals </b></center></p>
                        <img class="img-responsive" src="/Content/images/store/men casual.jpg" alt="">

                        <h3>
                            <a href="/Home/ShowItems?Next=4">See More</a>
                        </h3>

                    </div>
                    <div class="col-md-4 portfolio-item" style="font-family: 'Felix Titling'; font-size: 35px">
                        <br>
                        <p style="font-family: 'Felix Titling'; font-size: 35px"><center><b> Sweaters </b></center></p>
                        <img class="img-responsive" src="/Content/images/store/Shawl-Collar-Sweater.jpg" alt="">

                        <h3>
                            <a href="/Home/ShowItems?Next=5">See More</a>
                        </h3>

                    </div>



                </div>
          <!-- /.row -->
            <hr>
            @*<!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->*@
            <hr>
           </div>
        <!-- /.container -->
        <!-- jQuery -->
        <script src="~/Content/js2/jquery.js"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Content/js2/bootstrap.min.js"></script>
        </section>

</body>
</html>
